
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 body{
   background-color: #1B2838;
   font-family: Arial, Helvetica, sans-serif;
   background-image: url(fundo-de-parede-de-cimento-aspero-escuro-para-design-grafico-ou-papel-de-parede-textura-de-concreto-preta-e-azul-suja-em-estilo-vintage-o-antigo-piso-de-gesso-tem-uma-idade-misteriosa-e-aterror.avif);
   
 }

 .topo{
    height: 20vh;
    background-color: #031e41ce;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
 }

 .logo{
    position: absolute;

    height: 135px;
    width: 135px;
}

.lupa{
    position: absolute;
    left: 107vh;
    height: 50px;
    width: 50px;
}

 input{
    width: 500px;
    height: 50px;
    justify-self: center;
    border-radius: 15px;
    border: none;
    padding-left: 10px;
    border-radius: 50px;
}

.icones{
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 15vh;
    color: white;
    font-size: 22px;
}

.homem{
    height: 33px;
    width: 33px;
}

.carrinho{
    height: 33px;
    width: 33px;
}

nav{
   background-color: #52657e;
    padding-top: 25px;
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-content: center;
    gap: 20vh;
    height: 70px;
}

nav a{
    text-decoration: none;
    color: white;
    font-size: 14px;
}

nav p{
font-size: 20px;
padding-bottom: 20px;
}



.titulo{
    padding-top: 10vh;
    padding-bottom:5vh;
    font-family: Arial, Helvetica, sans-serif;
}

.contato {
    padding: 50px 0;
    min-height: 70vh;
    padding-bottom: 30vh;
}

.contato h1 {
    text-align: center;
    color: white;
    font-size: 50px;
    margin-bottom: 50px;
    font-family: Arial, sans-serif;
}

.container-grid {
    display: grid;
    grid-template-columns: 400px 400px;
    justify-content: center;
    gap: 50px;
}

.formulario {
    display: grid;
    gap: 12px;
    background-color: #52657e;
    padding: 30px;
    border-radius: 50px;
    height: 700px;
    width: 400px;
}

.formulario p{
    color: white;
    font-size: 20px;
    font-family: Arial, sans-serif;
}

.formulario input,
.formulario textarea {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 20px;
    background-color: #ffffff;
    color: white;
}

.mensagem{
    height: 15vh;
}

.formulario button {
    width: 180px;
    height: 35px;
    border: none;
    border-radius: 20px;
    background-color: #070646;
    color: white;
    cursor: pointer;
}

.informacoes {
    display: grid;
    gap: 25px;
    background-color: #52657e;
    padding: 30px;
    border-radius: 50px;
    color: white;
    font-family: Arial, sans-serif;
    padding-bottom: 5vh;
}

.informacoes h2 {
    text-align: center;
    padding-top: 5vh;
    padding-bottom: 5vh;
   
}

.informacoes h3 {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.informacoes p {
    font-size: 14px;
    color: #d9d9d9;
    padding-bottom: 2vh;
}

.ic{
    height: 20px;
    width: 20px;
}

footer{
    background-color: #171D25;
    padding: 30px;
    display: grid;
    justify-items: center;
    gap: 10px;
    height: 40vh;
}

.redes{
    padding-top: 10vh;
    display: grid;
    grid-template-columns: repeat(3, auto);
    font-size: 30px;
    color: white;
    gap: 10vh   ;
}

footer p{
    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.rd{
    height: 50px;
    width: 50px;
}

