*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 body{
   background-color: #1B2838;
   font-family: Arial, Helvetica, sans-serif;
 }

 .topo{
    height: 20vh;
    background-color: #031e41ce;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
 }

 input{
    width: 500px;
    height: 50px;
    justify-self: center;
    border-radius: 15px;
    border: none;
    padding-left: 10px;
    border-radius: 50px;
}

.logo{
    position: absolute;

    height: 135px;
    width: 135px;
}

.lupa{
    position: absolute;
    left: 107vh;
    height: 50px;
    width: 50px;
}

.icones{
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 15vh;
    color: white;
    font-size: 22px;
}

.homem{
    height: 33px;
    width: 33px;
}

.carrinho{
    height: 33px;
    width: 33px;
}

nav{
   background-color: #52657e;
    padding-top: 25px;
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-content: center;
    gap: 20vh;
    height: 70px;
}

nav a{
    text-decoration: none;
    color: white;
    font-size: 14px;
}

nav p{
font-size: 20px;
padding-bottom: 20px;
}

.card img{
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

.card a{
    text-decoration: none;
}

#todos{
    padding-bottom: 10vh;
    padding-top: 10vh;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}
.catalogo{
    padding: 30px;
    background-image: url(fundo-de-parede-de-cimento-aspero-escuro-para-design-grafico-ou-papel-de-parede-textura-de-concreto-preta-e-azul-suja-em-estilo-vintage-o-antigo-piso-de-gesso-tem-uma-idade-misteriosa-e-aterror.avif);
}

.catalogo h3{
    color: white;
    margin-bottom: 20px;
}

.grade-jogos{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    padding-bottom: 30vh;
}

.card{
    width: 420px;
    background-color: rgb(35, 71, 138);
    border-radius: 50px;
    text-align: center;
    padding-bottom: 5vh;
}

.card img{
    width: 420px;
    height: 300px;
    object-fit: cover;
    box-shadow: 0 0 30px cadetblue;

}

.card h4{
    padding-top: 10PX;
    color: rgb(255, 255, 255);
    font-size: 20px;
    margin-top: 8px;
    font-family: Arial, Helvetica, sans-serif;
}

.card p{
    color: rgb(240, 138, 6);
    font-size: 20px;
    padding-top: 10PX;
    font-family: Arial, Helvetica, sans-serif;
}

footer{
    background-color: #171D25;
    padding: 30px;
    display: grid;
    justify-items: center;
    gap: 10px;
    height: 40vh;
}

.redes{
    padding-top: 10vh;
    display: grid;
    grid-template-columns: repeat(3, auto);
    font-size: 30px;
    color: white;
    gap: 10vh   ;
}

footer p{
    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.rd{
    height: 50px;
    width: 50px;
}