
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 body{
   background-color: #1B2838;
   font-family: Arial, Helvetica, sans-serif;
   background-image: url(fundo-de-parede-de-cimento-aspero-escuro-para-design-grafico-ou-papel-de-parede-textura-de-concreto-preta-e-azul-suja-em-estilo-vintage-o-antigo-piso-de-gesso-tem-uma-idade-misteriosa-e-aterror.avif);
 }

 .topo{
    height: 20vh;
    background-color: #031e41ce;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
 }

 .logo{
    position: absolute;

    height: 135px;
    width: 135px;
}

.lupa{
    position: absolute;
    left: 107vh;
    height: 50px;
    width: 50px;
}

 input{
    width: 500px;
    height: 50px;
    justify-self: center;
    border-radius: 15px;
    border: none;
    padding-left: 10px;
    border-radius: 50px;
}

.icones{
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 15vh;
    color: white;
    font-size: 22px;
}

.homem{
    height: 33px;
    width: 33px;
}

.carrinho{
    height: 33px;
    width: 33px;
}

nav{
   background-color: #52657e;
    padding-top: 25px;
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-content: center;
    gap: 20vh;
    height: 70px;
}

nav a{
    text-decoration: none;
    color: white;
    font-size: 14px;
}

nav p{
font-size: 20px;
padding-bottom: 20px;
}


.quem-somos{
    min-height: 70vh;
    padding: 50px 0;
    display: grid;
    gap: 80px;
    padding-bottom: 30vh;
}



.sobre{
    display: grid;
    justify-content: center;
    text-align: left;
    gap: 20px;
}

.sobre h1{
    color: white;
    font-size: 55px;
    text-align: center;
    font-family: Arial, sans-serif;
    padding-top: 10vh;
    padding-bottom: 3vh;
}

.sobre p{
    width: 770px;
    color: white;
    font-size: 24px;
    font-family: Arial, sans-serif;
    padding-left: 5vh;
}

.equipe{
    display: grid;
    gap: 40px;
}

.equipe h2{
    text-align: center;
    color: white;
    font-size: 50px;
    font-family: Arial, sans-serif;
    padding-top: 10vh;
    padding-bottom: 10vh;
}

.cards-equipe{
    display: grid;
    grid-template-columns: repeat(3, 220px);
    justify-content: center;
    gap: 40px;
}

.membro{
    width: 220px;
    height: 220px;
    border-radius: 15px;
    padding-bottom: 30vh;   
}

.membro1 img{
    box-shadow: 0 0 30px cadetblue;
    width: 400px;
    height: 400px;
    object-fit: cover;
    margin-left: -30vh;
    border-radius: 50px;
    

}

.membro2 img{
    box-shadow: 0 0 30px cadetblue;
    width: 400px;
    height: 400px;
    object-fit: cover;
    margin-left: -10vh;
    border-radius: 50px;
}

.membro3 img{
    box-shadow: 0 0 30px cadetblue;
    width: 400px;
    height: 400px;
    object-fit: cover;
    margin-left: 10vh;
    border-radius: 50px;
}

footer{
    background-color: #171D25;
    padding: 30px;
    display: grid;
    justify-items: center;
    gap: 10px;
    height: 40vh;
}

.redes{
    padding-top: 10vh;
    display: grid;
    grid-template-columns: repeat(3, auto);
    font-size: 30px;
    color: white;
    gap: 10vh   ;
}

footer p{
    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.rd{
    height: 50px;
    width: 50px;
}